{% extends 'base.html' %}

{% block title %}
    <h2>Ordenes de Pedidos</h2>
{% endblock %}

{% block content %}
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Acceso No Autorizado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Usted no tiene acceso a esta área</p>
      </div>
      <div class="modal-footer">
        <button onclick="window.location.href='/home/'" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $(function(){
   $("#myModal").modal();
  });
 </script>
{% endblock %}