{% extends 'base.html' %}
{% block extrahead %}
<style type="text/css">
  body {
      background-image: url("/media/img/bg/1.jpg");
      background-repeat: no-repeat;
      /* background-position: center 50px; */
      background-attachment: fixed;
      background-size: cover;
    }
</style>
{% endblock %}
{% block title %}
{% endblock %}

{% block content %}
<!-- <div style="float: right; margin-right: 25px; color: white;">
  <h1 class="display-4" style="text-align: center; text-shadow: 2px 2px 4px #333333;">SIA</h1>
  <h5 class="display-6" style="text-align: center; text-decoration: underline; text-shadow: 2px 2px 4px #333333;">Sistema Integrado Administrativo</h5>
</div>   -->
<!-- <div class="jumbotron container" style="margin-top: 25px;">
  <h1 class="display-4" style="text-align: center; text-decoration-line: overline underline;">Bienvenidos al Sistema Ecofroz</h1>
</div> -->
{% endblock %}