{% extends 'base.html' %}
{% load bootstrap %}

<head>
<style  type="text/css">

/* table, th, td {
border: 1px solid Black;} */

/* make the table a 100% wide by default */
/* table {
width: 100%;} */

/* if the browser window is at least 800px-s wide: */
/* @media screen and (min-width: 800px) {
  table {
  width: 90%;}
} */

/* if the browser window is at least 1000px-s wide: */
/* @media screen and (min-width: 1000px) {
  table {
  width: 80%;}
} */



</style>

</head>


{% block content %}
<div class="container-fluid">
  <div class="row" style="margin-top: 25px;">
    <div class="col-md 18 search">
      <form class="form-inline my-2 my-lg-0" method="GET">
        <input class="form-control mr-sm-2" type="text" size="50;" placeholder="RUC, Razon Social, Giro de Negocio ó Producto Principal..." name="buscar">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
      <div class="col-md-6">
        <a class="btn btn-success rounded-circle" style="float: right;" title="Nuevo Proveedor" href="{% url 'proveedores:nuevo_registro' %}">+</a>
      </div>
    </div>
</div>
<br>
<table class="table table-hover table-striped table-dark table-sm container-fluid" style="width: 98%;">
  <thead>
    <tr>
        <td scope="col"><strong>No</strong></td>
        <td scope="col"><strong>RUC</strong></td>
        <td scope="col"><strong>Razón Social</strong></td>
        <td scope="col"><strong>Nombre Comercial</strong></td>
        <td scope="col"><strong>Categoría</strong></td>
        <td scope="col"><strong>Giro de Negocio</strong></td>
        <td scope="col"><strong>Número Celular</strong></td>
        <td scope="col"><strong>Persona de Contacto</strong></td>
        <td scope="col"><strong>Calificación</strong></td>
        <td scope="col"><strong>Crítico</strong></td>
        <td scope="col"><strong>Doc Categoria Completos</strong></td>
        <td scope="col"><strong>Opción</strong></td>
    </tr>
  </thead>
<tbody>
  {% if form %}
  {% for proveedor in form  %} 
    <tr data-href="{% url 'proveedores:editar_proveedor'  proveedor.codigo_id.id %}" style="cursor: pointer;"> 
      <td>{{ forloop.counter0|add:form.start_index }}</td>
      <td>{{ proveedor.codigo_id.ruc }}</td>
      <td>{{ proveedor.codigo_id.nombre_empresa }}</td>
      <td>{{ proveedor.codigo_id.nombre_comercial | default:"--" }}</td>
      <td>{{ proveedor.codigo_id.categoria | default:"--" }}</td>
      <td>{{ proveedor.giro_negocio | default:"--" }}</td>
      <td>{{ proveedor.codigo_id.celular | default:"--" }}</td>
      <td>{{ proveedor.codigo_id.nombre_contacto_ecofroz | default:"--" }}</td>
      <td style="text-align: center;">{{ proveedor.codigo_id.calificacion | default:"--" }}&nbsp;{{ proveedor.codigo_id.grade | default:"--"}}</td>
      <td>{{ proveedor.codigo_id.proveedor_critico | yesno:"SI,NO" }}</td>
      <!-- <td>{{ proveedor.cumple_entrega_docs_esenciales }}</td> -->
      <td style="text-align:center;">
        {% if proveedor.cumple_entrega_docs == 'SI'  %}
       <b><a class="glyphicon glyphicon-ok"></a></b>
        {% else %}
        <label>--</label>
      </td>
      {% endif %}
      
      <td style="align-content: center;">
        <!-- <a class="btn btn-primary glyphicon glyphicon-refresh" title="Actualiza Calificación de este proveedor" href="{% url 'proveedores:actualiza_calf_indi_test' proveedor.codigo_id.id %}"></a> -->
        <a class="btn btn-warning glyphicon glyphicon-edit" title="Editar" href="{% url 'proveedores:editar_proveedor'  proveedor.codigo_id.id %}"></a>
        <a class="btn btn-success glyphicon glyphicon-share" title="Enviar para revisión de Calidad" href="{% url 'proveedores:enviar_a_calidad' proveedor.codigo_id.id %}"></a>
        <a class="btn btn-primary glyphicon glyphicon-paperclip" title="Documentos de Respaldo" href="{% url 'proveedores:ver_documentos'  proveedor.codigo_id.id %}"></a>  
        <a class="btn btn-danger glyphicon glyphicon-trash" title="Eliminar" href="{% url 'proveedores:eliminar_proveedor' proveedor.codigo_id.id %}"></a>
      </td>
    </tr>

 
{% endfor %}

{% else %}
<h1>No hay registros</h1>

{% endif %}
</tbody>

</table>

<div class="pagination container-fluid" style="width: 98%;">
  <span class="step-links">
      {% if form.has_previous %}
          <a href="?page=1">&laquo; inicio</a>
          <a href="?page={{ form.previous_page_number }}">previo</a>
      {% endif %}

      <span class="current">
          Page {{ form.number }} of {{ form.paginator.num_pages }}.
      </span>

      {% if form.has_next %}
          <a href="?page={{ form.next_page_number }}">próximo</a>
          <a href="?page={{ form.paginator.num_pages }}">último &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock content %}

{% block extrajs %}
<script>
  if ('{{ mensaje }}'){
  alert('{{ mensaje }}');
  }

  jQuery(document).ready(function($){
    $('*[data-href]').on('click', function(){
      window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}