{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

% block extrahead %}
<!DOCTYPE html>
<style>

#salto-linea-ancho{
    margin-top: 80px;
    width: 250px;
  }

</style>

{% block content %}  
<!-- <div class="row">
  <div class="col-6">
    <a type="button" style="margin-top: 25px;margin-left: 110px;" class="btn btn-warning" href="{% url 'proveedores:ver_plantillas' %}">Revise y edite las plantillas de carga de respuestas</a>
  </div>
  <div class="col-6"></div>
</div> -->
<div class="jumbotron container" style="width: 95%; margin-top: 25px;">
    <h3>Prueba Carga Archivo</h3>
  
    <div class="container" id="salto-linea-ancho">
    <p></p>
    </div>
  
 

    <h5 id="titulo_carga_excel">Paso 2. Cargue el archivo Excel de respuestas</h5>
    <div class="container" id="salto-linea-ancho">
        <p></p>
        </div>

 <form method="post" action="{% url 'proveedores:carga_respuestas_pru' %}" enctype="multipart/form-data">  
  {% csrf_token %}  
  <input type="hidden" name="nombre_empresa" value={{nombre_empresa}} >  
  <input type="file" id="input_cargar" name="xlsfile">  
  <div class="container" id="salto-linea-ancho">
    <p></p>
    </div>
    <button type="submit" id="cargar_archivo" style="margin-top:5px;" class="btn btn-primary btn-lg">Cargar</button>
    
 </form>  

</div>

{% endblock content %} 

{% block extrajs %}
<script>
  



</script>

{% endblock %}