{% extends 'base.html' %}
{% load bootstrap %}
{% load l10n %}
{% load widget_tweaks %}

{% block extrahead %}

<style>

  table {
    border-collapse: collapse;
    width: 100%;  
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  
  #tabla-reporte{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabla-reporte td, #tabla-reporte th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tabla-reporte tr:hover {background-color: #ddd;}
  #tabla-reporte tr:hover {background-color: #ddd;}
  
  #tabla-reporte th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4c77af;
    color: white;
  }
  
  </style>


{% endblock %}


{% block content %}


<div class="container-fluid">
  <div class="row" style="margin-top: 25px;">
     <div class="col"> 
      
        <h3>Activos en Talleres de Mantenimiento/Operaciones</h3>
        <p>
        <div class="col-md 18 search">
          <form class="form-inline my-2 my-lg-0" method="GET">
              <input class="form-control mr-sm-2" type="text" size="50;" placeholder="Código, Descripción, Custodio, Serie, Cod MBA..." name="buscar">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  
</div>
        
<br>
<div class="container-fluid">
  
<table id="tabla-reporte">  
  <thead>
    <tr>
        <th scope="col"><strong>No</strong></th>
        <th scope="col"><strong>Codigo</strong></th>
        <th scope="col"><strong>Parte de</strong></th>
        <th scope="col"><strong>Ubicación</strong></th>
        <th scope="col"><strong>Departamento</strong></th>
        <th scope="col"><strong>Sector</strong></th>
        <th scope="col"><strong>Descripción</strong></th>
        <th scope="col"><strong>Tipo</strong></th>
        <th scope="col"><strong>Marca</strong></th>
        <th scope="col"><strong>Modelo</strong></th>
        <th scope="col" ><strong>Estado</strong></th>
        <th scope="col"><strong>Opciones</strong></th>
    </tr>
  </thead>
<tbody>
  {% for activo in form  %} 
  
    <tr>
      <!-- {% if perms.activos.change_desc_activo %}data-href="{% url 'activos:editar_activos'  activo.desc_activo_codigo.id %}" style="cursor: pointer;"{% endif %}>   -->
      <td>{{ forloop.counter0|add:form.start_index }}</td>
      <td>{{ activo.desc_activo_codigo.activo_codigo }}</td>
      <td>{{ activo.desc_activo_codigo.cod_activo_padre | default:"--" }}</td>
      <td>{{ activo.desc_activo_codigo.activo_ubica}}</td>
      <td>{{ activo.desc_activo_codigo.activo_depar | default:"--" }}</td>
      <td>{{ activo.desc_activo_codigo.activo_area | default:"--" }}</td>
      <td>{{ activo.desc_activo_codigo.activo_descripcion| default:"--" }}</td>
      <td>{{ activo.desc_activo_codigo.activo_tipo | default:"--" }}</td>
      <td>{{ activo.desc_activo_marca | default:"--" }}</td>
      <td>{{ activo.desc_activo_modelo | default:"--" }}</td>
      <td>{{ activo.desc_activo_codigo.activo_estado }}</td>
      <td style="align-content: center;">
        <a class="btn btn-warning glyphicon glyphicon-circle-arrow-right" title="Mover activo a Bodega General" href="{% url 'activos:movimiento_a_bodega' activo.desc_activo_codigo.activo_codigo %}"></a>
        <!-- <a class="btn btn-warning glyphicon" title="Iniciar proceso para salida de activos" href="{% url 'activos:registrosalidaind' activo.desc_activo_codigo.activo_codigo %}"></a> -->
        
        
        <!-- <a href="{% url 'activos:registrosalidaind' activo.desc_activo_codigo.activo_codigo %}" class="btn btn-success">Solicitar </a> -->
      </td>
    </tr>
  </div>

    

    
{% endfor %}

</tbody>

</table>


<div class="pagination">
  <span class="step-links">
      {% if form.has_previous %}
          <a href="?buscar={{ query }}&activo_tipo={{ tipo }}&activo_ubica={{ ubicacion }}&activo_grupo={{ grupo }}&activo_depar={{ departamento }}&activo_area={{ area }}&page=1">&laquo; inicio</a>
          <a href="?buscar={{ query }}&activo_tipo={{ tipo }}&activo_ubica={{ ubicacion }}&activo_grupo={{ grupo }}&activo_depar={{ departamento }}&activo_area={{ area }}&page={{ form.previous_page_number }}">previo</a>
      {% endif %}

      <span class="current">
          Page {{ form.number }} of {{ form.paginator.num_pages }}.
      </span>

      {% if form.has_next %}
          <a href="?buscar={{ query }}&activo_tipo={{ tipo }}&activo_ubica={{ ubicacion }}&activo_grupo={{ grupo }}&activo_depar={{ departamento }}&activo_area={{ area }}&page={{ form.next_page_number }}">próximo</a>
          <a href="?buscar={{ query }}&activo_tipo={{ tipo }}&activo_ubica={{ ubicacion }}&activo_grupo={{ grupo }}&activo_depar={{ departamento }}&activo_area={{ area }}&page={{ form.paginator.num_pages }}">último &raquo;</a>
      {% endif %}
      
  </span>
</div>
</div>






{% endblock content %}

{% block extrajs %}

<script>


$("#id_activo_codigo").hide().val("");
$("#busca_activos").hide().val("");
$("#busca_marca").hide().val("");
$("#id_desc_activo_marca").hide().val("");
$("#id_activo_ubica").hide().val("");
$("#id_activo_grupo").hide().val("");
$("#id_activo_tipo").hide().val("");
$("#id_activo_area").hide().val("");
$("#id_activo_depar").hide().val("");
$("#id_pestanias_seguros").hide().val("");
$("#id_poliza_seguros").hide().val("");
  
  
$("#xcodigo").on('click', xCodigo)
$("#xubicacion").on('click', xUbicacion)
$("#xmarca").on('click', xMarca)
$("#xtipo").on('click', xTipo)
$("#xdepartamento").on('click', xDep)
$("#xsector").on('click', xSec)
$("#xseguros").on('click', xSeg)
$("#xseguros_poliza").on('click', xSegPol)

//Funciones que ocultan listas de seleccion y campos
function xCodigo() {
$("#id_activo_codigo").show();
$("#busca_activos").show();
$("#id_activo_tipo").hide().val("");
$("#id_activo_grupo").hide().val("");
$("#id_activo_ubica").hide().val(""); 
$("#id_activo_depar").hide().val("");
$("#id_pestanias_seguros").hide().val("");
$("#id_activo_area").hide().val("");
$("#id_poliza_seguros").hide().val("");
$("#id_desc_activo_marca").hide();
$("#busca_marca").hide();

}

function xUbicacion() {
$("#id_activo_ubica").show(); 
$("#id_activo_tipo").hide().val("");
$("#id_activo_grupo").hide().val(""); 
$("#id_activo_depar").hide().val("");
$("#id_pestanias_seguros").hide().val("");
$("#id_activo_codigo").hide().val("");
$("#busca_activos").hide().val("");
$("#id_activo_area").hide().val("");
$("#id_poliza_seguros").hide().val("");

}

function xMarca() {
$("#id_activo_ubica").hide().val("");
$("#id_activo_tipo").hide().val(""); 
$("#id_activo_depar").hide().val("");
$("#id_pestanias_seguros").hide().val("");
$("#id_activo_codigo").hide().val("");
$("#busca_activos").hide().val("");
$("#id_activo_area").hide().val("");
$("#id_poliza_seguros").hide().val("");
$("#id_desc_activo_marca").show();
$("#busca_marca").show();
}

function xTipo() {
$("#id_desc_activo_marca").hide();
$("#busca_marca").hide();
$("#id_activo_tipo").show();
$("#id_activo_grupo").hide().val("");
$("#id_activo_ubica").hide().val("");
$("#id_activo_depar").hide().val("");
$("#id_pestanias_seguros").hide().val("");
$("#id_activo_codigo").hide().val("");
$("#busca_activos").hide().val("");
$("#id_activo_area").hide().val("");
$("#id_poliza_seguros").hide().val("");

}

function xDep() {
$("#id_activo_depar").show();
$("#id_activo_tipo").hide().val("");
$("#id_activo_grupo").hide().val("");
$("#id_activo_ubica").hide().val(""); 
$("#id_activo_codigo").hide().val("");
$("#busca_activos").hide().val("");
$("#id_activo_area").hide().val("");
$("#id_poliza_seguros").hide().val("");
$("#id_pestanias_seguros").hide().val("");

}

function xSec() {
$("#id_activo_area").show();
$("#id_activo_tipo").hide().val("");
$("#id_activo_grupo").hide().val("");
$("#id_activo_ubica").hide().val(""); 
$("#id_activo_codigo").hide().val("");
$("#busca_activos").hide().val("");
$("#id_activo_depar").hide().val("");
$("#id_poliza_seguros").hide().val("");
$("#id_pestanias_seguros").hide().val("");
$("#id_desc_activo_marca").hide();
$("#busca_marca").hide();


}

function xSeg() {
$("#id_activo_tipo").hide().val("");
$("#id_activo_grupo").hide().val("");
$("#id_activo_ubica").hide().val(""); 
$("#id_activo_codigo").hide().val("");
$("#busca_activos").hide().val("");
$("#id_activo_depar").hide().val("");
$("#id_activo_area").hide().val("");
$("#id_pestanias_seguros").show();
$("#id_poliza_seguros").hide().val("");

}



</script>





<script>
  jQuery(document).ready(function($){
    $('*[data-href]').on('click', function(){
      window.location = $(this).data("href");
    });
  });
  // $("#container").on('click-row.bs.table', function(e, row, $element){
  //   window.location = $(this).data('url');
  // });
</script>


{% endblock %}