{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load filters %}

{% block extrahead %}


{% endblock %}

{% block content %}
<!-- <div class="loader"></div> -->
<div class="jumbotron" style="width: 75%; margin:auto; padding-top: 25px; margin-top: 50px; margin-bottom: 25px;">
        <h2 class="display-5">Cambio de estado de grabado de activos.</h2>
        <h4 class="display-5">Información del Activo</h4>
        <p>
                <p>
        
        
        <div class="form-row">
                <div class="form-group col-md-10" >
                        
                        <label><b><u>Código Activo:</u></b></label>
                        {{query.desc_activo_codigo.activo_codigo}}
                        
                        <br>
                        <label><b><u>Marca: </u></b></label>
                        {{query.desc_activo_marca | default:"--"}}
                        <br>
                        <label><b><u>Modelo: </u></b></label>
                        {{query.desc_activo_modelo | default:"--"}}
                        <br>
                        <label><b><u>Serie: </u></b></label>
                        {{query.desc_activo_num_serie | default:"--"}}
                        <br>
                        
                        <label><b><u>Descripción: </u></b></label>
                        {{query.desc_activo_codigo.activo_descripcion}}
                        <br>

                        <label><b><u>Ubicacion: </u></b></label>
                        {{query.desc_activo_codigo.activo_ubica}}
                        <br>

                        <label><b><u>Departamento: </u></b></label>
                        {{query.desc_activo_codigo.activo_depar}}
                        <br>

                        <label><b><u>Sector: </u></b></label>
                        {{query.desc_activo_codigo.activo_area}}
                        <br>

                        <label><b><u>Sub-sector: </u></b></label>
                        {{query.desc_activo_codigo.activo_subsec | default:"--"}}

                        

                </div>
        </div>
        <div class="form-row"> 
                <p>
                </div>
        

        

        <form method="POST"> 
        {% csrf_token %}
        
        <div class="form-row">

        <div class="form-group col-md-6">
                <label>El activo cuenta con el grabado de código?</label> 
        </div>

        <div class="form-group col-md-6">
                 
        </div>

        <div class="form-group col-md-4">
                <!-- {% render_field form.activo_depar class="form-control"   %}  -->
                 <select name="grabado" id="grabado" class="form-control" required>
                        <option value="" selected>-------</option>
                        <option value="GRABADO">GRABADO</option>
                        <option value="ETIQUETA">ETIQUETA</option>
                        <option value="NO">NO</option> 
                        <option value="NO ES POSIBLE IDENTIFICAR">NO ES POSIBLE IDENTIFICAR</option>        
                </select> 
       
       
        </div>
       
</div>
       
        
       
        <div class="form-row">
        <div class="form-group col-md-3" >
                <label>Usuario Registra</label> 
                <input type="text" readonly class="form-control" value="{{registra}}"> 
               
        </div>
        </div>
        <div class="form-row">
                <p>

        </div>


                <button id="guardar" type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </form>
</div>

{% endblock content %}

{% block extrajs %}
<script>

  function ordenarSelect(id_componente)
    {
      var selectToSort = jQuery('#' + id_componente);
      var optionActual = selectToSort.val();
      selectToSort.html(selectToSort.children('option').sort(function (a, b) {
        return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
      })).val(optionActual);
    }
    $(document).ready(function () {
      ordenarSelect('id_activo_codigo');
    });

    $('#id_activo_codigo').change(function(){
            $('#id_codigo').val($('#id_activo_codigo option:selected').text())
    })

  $(document).ready(function(){
    $('#id_persona_retira').val('{{ user.username }}')
  })

//   $(window).on("load", function() {
//         $(".loader").fadeOut("slow");
//     });

    $(document).ready(function() {    
        $('#guardar').on('click', function(){
            //Añadimos la imagen de carga en el contenedor
            $(".loader").show();
            $(window).on("load", function(){
                $(".loader").fadeOut("slow");
            });
        });              
    });

    $(document).ready(function(){
        let descripcion = '{{ desc }}';
        document.getElementById('id_detalle_activo').innerHTML = descripcion
    });
</script>

{% endblock %}