{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load filters %}


{% block content %}
<!-- <div class="loader"></div> -->
<div class="jumbotron" style="width: 75%; margin:auto; padding-top: 25px; margin-top: 50px; margin-bottom: 25px;">
        <h2 class="display-5">Registro de Movimientos Internos de Activos a Bodega General.</h2>
        <h4 class="display-5">Información y ubicación actual del activo</h4>
        <p>
                <p>
        
        
        <div class="form-row">
                <div class="form-group col-md-10" >
                        
                        <label><b><u>Código Activo:</u></b></label>
                        {{query.desc_activo_codigo.activo_codigo}}
                        
                        <br>
                        <label><b><u>Marca: </u></b></label>
                        {{query.desc_activo_marca | default:"--"}}
                        <br>
                        <label><b><u>Modelo: </u></b></label>
                        {{query.desc_activo_modelo | default:"--"}}
                        <br>
                        <label><b><u>Serie: </u></b></label>
                        {{query.desc_activo_num_serie | default:"--"}}
                        <br>
                        
                        <label><b><u>Descripción: </u></b></label>
                        {{query.desc_activo_codigo.activo_descripcion}}
                        <br>

                        <label><b><u>Ubicacion: </u></b></label>
                        {{query.desc_activo_codigo.activo_ubica}}
                        <br>

                        <label><b><u>Departamento: </u></b></label>
                        {{query.desc_activo_codigo.activo_depar}}
                        <br>

                        <label><b><u>Sector: </u></b></label>
                        {{query.desc_activo_codigo.activo_area}}
                        <br>

                        <label><b><u>Sub-sector: </u></b></label>
                        {{query.desc_activo_codigo.activo_subsec | default:"--"}}

                        

                </div>
        </div>
        <div class="form-row"> 
                <p>
                </div>
        

      

        <form method="POST"> 
        {% csrf_token %}
        <div class="form-row">
        <h4 class="display-5">Nueva ubicación del activo</h4>
        <p>
        </div>
        <div class="form-row">

        <div class="form-group col-md-3" >
                <label for="{{ form.activo_ubica.label }}">{{ form.activo_depar.label }}</label> 
                {% render_field form.activo_depar  class="form-control"    %} 
                
       
       
        </div>

        <div class="form-group col-md-4" >
                <label for="{{ form.activo_area.label }}">{{ form.activo_area.label }}</label> 
                {% render_field form.activo_area value=form.activo_area class="form-control"    %} 
                
       
       
        </div>
        
        <div class="form-group col-md-4" >
                <!-- <label for="{{ form.activo_subsec.label }}">{{ form.activo_subsec.label }}</label>  -->
                {% render_field form.activo_subsec class="form-control" hidden="True"   %} 
               
        </div>

        <div class="form-group col-md-3" >
                {% render_field form.activo_ubica value=form.activo_ubica class="form-control"  hidden="True" %} 
                 
        </div>

        </div>

        <div class="form-row">
                <p>

        </div>
        <div class="form-row">
                <h4>Justificación de Movimiento</h4>
        </div>

        <div class="form-row">
        <div class="form-group col-md-12" >
                {% render_field form.justificacion_modifica class="form-control" rows="5"  %}      
        </div>
        </div>
        
        <div class="form-row">
        <div class="form-group col-md-3" >
                <label for="{{ form.usuario_modifica.label }}">{{ form.usuario_modifica.label }}</label> 
                {% render_field form.usuario_modifica value=user.username class="form-control" readonly="True"   %} 
               
        </div>
        </div>
        <div class="form-row">
                <p>

        </div>


                <button id="guardar" type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </form>
</div>

{% endblock content %}

{% block extrajs %}
<script>
$('#activo_depar').val(108);
$("#activo_area").chained("#activo_depar"); 
$('#activo_area').val(1010);

  function ordenarSelect(id_componente)
    {
      var selectToSort = jQuery('#' + id_componente);
      var optionActual = selectToSort.val();
      selectToSort.html(selectToSort.children('option').sort(function (a, b) {
        return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
      })).val(optionActual);
    }
    $(document).ready(function () {
      ordenarSelect('id_activo_codigo');
    });

    $('#id_activo_codigo').change(function(){
            $('#id_codigo').val($('#id_activo_codigo option:selected').text())
    })

  $(document).ready(function(){
    $('#id_persona_retira').val('{{ user.username }}')
  })

//   $(window).on("load",function() {
//         $(".loader").fadeOut("slow");
//     });

    $(document).ready(function() {    
        $('#guardar').on('click', function(){
            //Añadimos la imagen de carga en el contenedor
            $(".loader").show();
            $(window).on("load", function(){
                $(".loader").fadeOut("slow");
            });
        });              
    });

    $(document).ready(function(){
        let descripcion = '{{ desc }}';
        document.getElementById('id_detalle_activo').innerHTML = descripcion
    });
</script>

{% endblock %}