{% extends "layout/base.html" %}

{% block subhead %}
<style>
    #titulo {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    #tabla-reporte {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

    }

    #anuladas {
        text-align: center;
        color: #fff;
        background-color: darkgoldenrod;
    }
</style>
{% endblock subhead %}

{% block content %}
<div class="container" style="margin: 25px auto;">
    <div class="row">
        <div class="col-md-6 search">
        </div>
    </div>
</div>
<div class="container">
    <h4 id="titulo">Requisición de Activos</h4>
</div>
<table class="table table-dark table-small table-striped container-fluid" style="margin: 5px auto" id="tabla-reporte">

    <thead>
        <tr>
            <th scope="col">Pedido N°</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Justificación</th>
        </tr>
    </thead>
    <tbody>
        {% for item in puestosSolicitados %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.puesto }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.justificacion }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}