{% extends 'base.html' %}
<!-- {% load tz %} -->

{% block extrahead %}
<style type="text/css"> 
  thead th  { 
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: #ffffff;
      border: blue 2px solid;
      
  }

  tr td  { 
      
      border: rgb(209, 209, 226) 1px solid;
      
  }

  .table { 
      height:200px;
      overflow:scroll;
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  

  th, td {
    word-wrap: break-word;
    text-align: left;
   padding: 8px;
}



</style>

{% endblock %}

{% block content %}
<div class="container" style="margin: 25px auto;">
  <div class="row">
    
      <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'personal:reporte_ingresos' %}" id="buscar" name="buscar">
        
        <div class="form-group col-auto">
            <label style="margin-right: 10px;">DESDE:</label>
            <input type="date" name="inicio" value="{{ inicio }}" required>
          </div>

          <div class="form-group col-auto">
            <label style="margin-right: 10px;">HASTA:</label>
            <input type="date" name="fin" value="{{ fin }}" required>
          </div>

          
        <div class="form-group col-auto">
          <div class="col-auto">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            <a class="btn btn-warning my-2 my-sm-0"  href="{% url 'personal:reporte_ingresos' %}">Limpiar</a>
          </div>
        </form>

     
        <div class="col">
          <a class="btn btn-success" style="margin-top: 5px;" href="{% url 'personal:export_excel' inicio fin %}">Exportar a Excel</a> 
        </div>

      </div>
    </div>
  
  </div>

  

  <table class="table table-sm table-striped" style="margin: 25px auto; width: 100%;">
    <thead class="thead-dark">
      <tr>
                <th>N°</th>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Area</th>
                <th>Fecha Ingreso</th>
                <th>Hora Ingreso</th>
                <th>Fecha Salida</th>
                <th>Hora Salida</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {% for i in reg %}
            <tr>
                <td>{{ forloop.revcounter }}</td>
                <td>{{ i.persona_id }}</td>
                <td>{{ i.persona }}</td>
                <td>{{ i.persona.area.area_nombre }}</td>
                <td>{{ i.fch_ingreso | default:"--" }}</td>
                <td>{{ i.hr_ingreso_txt | default:"--" }}</td>
                <td>{{ i.fch_salida | default:"--"}}</td>
                <td>{{ i.hr_salida_txt | default:"--"}}</td>
                <td>{{ i.ubica | default:"--"}}</td>
                

              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
  <span class="step-links">
      {% if reg.has_previous %}
          <a href="?inicio={{ inicio }}&fin={{ fin }}&page=1">&laquo; inicio</a>
          <a href="?inicio={{ inicio }}&fin={{ fin }}&page={{ reg.previous_page_number }}">previo</a>
      {% endif %}

      <span class="current">
          Page {{ reg.number }} of {{ reg.paginator.num_pages }}.
      </span>

      {% if reg.has_next %}
          <a href="?inicio={{ inicio }}&fin={{ fin }}&page={{ reg.next_page_number }}">próximo</a>
          <a href="?inicio={{ inicio }}&fin={{ fin }}&page={{ reg.paginator.num_pages }}">último &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock %}

{% block extrajs %}
<script>
var comprueba = '{{msje2}}'
if (comprueba == 'Error') {
  $(document).ready(function(){
    alert('{{ msje }}');
  })
};

// $("input[type=date]").datepicker({
//   dateFormat: 'yyyy-mm-dd',
//   onSelect: function(dateText, inst) {
//     $(inst).val(dateText); // Write the value in the input
//   }
// });

// Code below to avoid the classic date-picker
// $("input[type=date]").on('click', function() {
//   return false;
// });

// $("#buscar").submit(function(){
//     let ini = $("#inicio").html();
//     // let ini = new Date($('#inicio').val());
//     let fin = $("#fin").val();
//     alert(ini)
//     alert(fin)
//     if (ini == null){
//       alert("No selecciono la fecha de inicio");
//       return false;
//     } else if (fin == null) {
//       alert("No selecciono la fecha de fin");
//       return false;
//     } else {
//       return true;
//     };
// });
</script>
{% endblock %}