{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    <h2>Generación de Ticket de Soporte</h2>
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="loader"></div>
<div class="jumbotron" style="width: 75%; margin:auto; padding-top: 25px; margin-top: 50px; margin-bottom: 25px;">
<h2 class="display-5"></h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <input id="usuario_solicita" type="text" name="usuario_solicita" value="{{ user.id }}" hidden>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label>{{ form.solicita_nombre.label }}</label>
            {{ form.solicita_nombre }}
        </div>
        <div class="form-group col-md-5">
            <label>{{ form.solicita_apellido.label }}</label>
            {{ form.solicita_apellido }}
        </div>
        <!-- <div class="form-group col-md-2">
            <label>{{ form.solicita_codigo.label }}</label>
            {{ form.solicita_codigo }}
        </div> -->
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label>{{ form.ubicacion.label }}</label>
            {{ form.ubicacion }}
        </div>
        <div class="form-group col-md-5">
            <label>{{ form.departamento.label }}</label>
            {{ form.departamento }}
        </div>
        <!-- <div class="form-group col-md-2">
            <label>{{ form.area.label }}</label>
            {{ form.area }}
        </div> -->
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label >{{ form.tipo_problema.label }}</label>
            {{ form.tipo_problema }}
        </div>
    </div>
    <div>
        <div class="form-group col-md-12">
            <label>{{ form.descripcion_problema.label }}</label>
            {{ form.descripcion_problema }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>{{ form.area_responsable.label }}</label>
            {{ form.area_responsable }}
        </div>
        <div class="form-group col-md-6">
            <label>{{ form.usuario_responsabe.label }}</label>
            {{ form.usuario_responsabe }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ form.fch_solicita.label }}</label>
            {{ form.fch_solicita }}
        </div>
        <div class="form-group col-md-2">
            <label>{{ form.hr_solicita.label }}</label>
            {{ form.hr_solicita }}
        </div>
    
        <div class="form-group col-md-3">
            <label>{{ form.fch_soluciona.label }}</label>
            {{ form.fch_soluciona }}
        </div>
        <div class="form-group col-md-2">
            <label>{{ form.hr_soluciona_txt.label }}</label>
            {{ form.hr_soluciona_txt }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ form.estado_solicitud.label }}</label>
            {{ form.estado_solicitud }}
        </div>
        <div class="form-group col-md-4">
            <label>{{ form.reasignado_a.label }}</label>
            {{ form.reasignado_a }}
        </div>
      

    </div>
    <div>
        <div class="form-group col-md-12">
            <label>{{ form.observa_solucion.label }}</label>
            {{ form.observa_solucion }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary button" id="enviar" name="enviar">Actualizar</button>
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block extrajs %}
<script>    
    function ordenarSelect(id_componente)
    {
      var selectToSort = jQuery('#' + id_componente);
      var optionActual = selectToSort.val();
      selectToSort.html(selectToSort.children('option').sort(function (a, b) {
        return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
      })).val(optionActual);
    }
    $(document).ready(function () {
      ordenarSelect('estado_solicitud');
    });

    $(window).on("load", function() {
        $(".loader").fadeOut("slow");
    });

    $(document).ready(function() {    
        $('#enviar').on('click', function(){
            //Añadimos la imagen de carga en el contenedor
            $(".loader").show();
            $(window).on("load", function(){
                $(".loader").fadeOut("slow");
            });
        });    

        var fecha = "{{ fechas }}"
        var fecha2 = new Date(fecha)
        // alert(fecha2)
        var dia = fecha2.getDate() < 10 ? '0' + fecha2.getDate() : fecha2.getDate();
        // alert(dia)
        var mes =  fecha2.getMonth() + 1;
        var mes = (mes < 10) ? '0' + mes : mes;
        var anio = fecha2.getFullYear(); 

        var fecha3 = anio + "-"+ mes + "-" + dia
        // alert(fecha3)

        $("#fch_soluciona").val(fecha3)     

        // alert(fecha_2)   

        var fechas = "{{ fecha }}"
        var fechas2 = new Date(fechas)
        // alert(fechas2)
        var dias = fechas2.getDate() < 10 ? '0' + fechas2.getDate() : fechas2.getDate();
        // alert(dias)
        var mess =  fechas2.getMonth() + 1;
        var mess = (mess < 10) ? '0' + mess : mess;
        var anios = fechas2.getFullYear(); 

        var fechas3 = anios + "-"+ mess + "-" + dias
        // alert(fechas3)

        $("#fch_solicita").val(fechas3)    
    }); 

    // $(document).ready(function(){
    //     var fecha = "{{ form.fch_soluciona }}"
    //     $("#fch_soluciona").val(fecha)
    // });
</script>
{% endblock %}