{% extends 'base.html' %}

{% block title %}
    <h2>Ordenes de Pedidos</h2>
{% endblock %}

{% block content %}
<div class="jumbotron" style="width: 75%;margin:auto; padding-top: 25px; margin-top: 50px; margin-bottom: 25px;">
    <h2 class="display-5">Ingreso de Ordenes de Pedido</h2>
    <!-- <h4 class="display-6">Hola {{ user.first_name }} {{ user.last_name }}</h4> -->
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input id="usuario_solicita" type="hidden" name="usuario_solicita" value="{{ user.id }}">
            {{ form.auth_user }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>{{ form.departamento.label }}</label>
                {{ form.departamento }}
            </div>
            <div class="form-group col-md-6">
                <label>{{ form.area.label }}</label>
                {{ form.area }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>{{ form.tipoactivo.label }}</label>
                {{ form.tipoactivo }}
            </div>
            <div class="form-group col-md-4">
                <label>{{ form.tiempo_vida.label }}</label>
                {{ form.tiempo_vida }}
            </div>  
            <div class="form-group col-md-2">
                <label>{{ form.tiempo_tipo.label }}</label>
                {{ form.tiempo_tipo }}
            </div>
        </div>
        <div class="form-group col-md-12">
            <label>{{ form.numproyecto.label }}</label>
            {{ form.numproyecto }}
        </div>
        <!-- <div class="form-group col-md-12">
            <div class="form-check">
                {{ form.regimenespecial }}
                <label>{{ form.regimenespecial.label }}</label>
            </div>
        </div> -->
        <div class="form-group col-md-12">
            <label>{{ form2.descripcion.label }}</label>
            {{ form2.descripcion }}
        </div>
        <div class="form-row">
            <div class="col-md-10">
                <label>{{ form2.cantidad.label }}</label>
                {{ form2.cantidad }}
            </div>
            <div class="col-md-2">
                <label>{{ form2.unimedida.label }}</label>
                {{ form2.unimedida }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <label for="{{ form.motivo_compra.mc }}">{{ form.motivo_compra.label }}</label>
                {{ form.motivo_compra }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label for="{{ form.justificacion_compra.jc }}">{{ form.justificacion_compra.label }}</label>
                {{ form.justificacion_compra }}
            </div>
        </div>
        <div class="form-row" id="reemplazo_accion_div">
            <div class="col-md-12">
                <label for="{{ form.reemplazo_accion.ra }}">{{ form.reemplazo_accion.label }}</label>
                {{ form.reemplazo_accion }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 10px;">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function(){
        var opcioncarga = $("#motivo_compra").val();

        if (opcioncarga == "reemplazo")
            $("#reemplazo_accion_div").show();
        else   
            $("#reemplazo_accion_div").hide().val("");
    });
    
    $("#motivo_compra").change(function(){
        var opcion = $(this).val();

        if (opcion == "reemplazo")
            $("#reemplazo_accion_div").show();
        else
            $("#reemplazo_accion_div").hide().val("");
    });
</script>
{% endblock %}