{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    <h2>Cotizar Ordenes de Pedidos</h2>
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="loader"></div>
    <div class="container" style="margin: 25px auto;">
        <table class="table table-bordered table-sm">
                <tbody>
                  {% for form in cot %}
                  <tr>
                    <th class="table-dark" scope="col" style="width: 25%;">N° de Pedido:</th>
                    <td style='font-size: 11px;'>{{ form.numpedido.numpedido }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Usuario Solicitante:</th>
                    <td>{{ form.numpedido.usuario_solicita.first_name }} {{ form.numpedido.usuario_solicita.last_name }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Departamento Solicitante:</th>
                    <td>{{ form.numpedido.departamento }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Area Solicitante:</th>
                    <td>{{ form.numpedido.area }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Proyecto:</th>
                    <td>{{ form.numpedido.numproyecto }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Tipo Activo:</th>
                    <td>{{ form.numpedido.tipoactivo }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Descripciòn:</th>
                    <td>{{ form.descripcion }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Justificación Compra:</th>
                    <td>{{ form.numpedido.justificacion_compra }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Observaciones Adquisiciones:</th>
                    <td>{{ form.numpedido.cotiza_observa }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Observaciones Autorizador:</th>
                    <td>{{ form.numpedido.observa_selec_cot }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Cotización Referencial:</th>
                    <td><a class="card-link" href="/media/{{ form.cotiza_Ref }}" target="_blank">{{ form.cotiza_Ref }}</a></td>
                  </tr>
                  {% if form.img_1 %}
                  <tr>
                    <th class="table-dark" scope="col">Imagen 1:</th>
                    <td>
                      <a class="card-link" href="#" data-toggle="modal" data-target="#img_1" data-whatever="@getbootstrap">{{ form.img_1 }}</a>
                      <div class="modal fade" id="img_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div>
                              <img src="/media/{{ form.img_1 }}" class="img-thumbnail rounded" alt="...">
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% if form.img_2 %}
                  <tr>
                    <th class="table-dark" scope="col">Imagen 2:</th>
                    <td>
                      <a class="card-link" href="#" data-toggle="modal" data-target="#img_2" data-whatever="@getbootstrap">{{ form.img_2 }}</a>
                      <div class="modal fade" id="img_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div>
                              <img src="/media/{{ form.img_2 }}" class="img-thumbnail rounded" alt="...">
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
        </table>
      <div class="dropdown-divider" style="margin: 25px auto;"></div>
      <h4 class="display-6">Ingreso de Cotizaciones</h4>
      <div style="margin: 25px auto">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Id</th>
              <th>Valor</th>
              <th>Provedor</th>
              <th>Selección</th>
            </tr>
          </thead>
          <tbody>
            {% for detalle in detalle %}
            <tr>
              <td>{% render_field detalle.id disabled=True %}</td>
              <td>{% render_field detalle.valor disabled=True %}</td>
              <td>{% render_field detalle.empresa_cotiza disabled=True %}</td>
              <td>{% render_field detalle.cotiza_seleccion disabled=True %}</td>
              <td>
                <a href="http://{{ request.META.HTTP_HOST }}/media/{{detalle.pdf_cotiza.value}}" target="blank_">Ver</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- <a href="{% url 'ordenpedido:apruebacompra' id %}" class="btn btn-primary">Aprobar Compra</a> -->
        {% if aprobado != 1 %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalAprob" data-whatever="@getbootstrap">Aprobar Compra</button>
        {% endif %}
        <div class="modal fade" id="exampleModalAprob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Observaciones/Recomendaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="modal-body" action="{% url 'ordenpedido:apruebacompra' id %}" method="GET">
                <div class="form-group">
                  <textarea class="form-control" id="message-text" name="text"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" name="rechazar" class="btn btn-primary" id="enviar">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- <a href="{% url 'ordenpedido:cancelacompra' id %}" class="btn btn-primary">Denegar Compra</a> -->
        {% if aprobado != 1 %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Rechazar</button>
        {% endif %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Ingrese el motivo del rechazo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="modal-body" action="{% url 'ordenpedido:cancelacompra' id %}" method="GET">
                <div class="form-group">
                  <textarea class="form-control" id="message-text" name="text"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" name="rechazar" class="btn btn-primary" id="enviar">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% if aprobado == 1 %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalAprob" data-whatever="@getbootstrap">Observaciones</button>
        {% endif %}
        <div class="modal fade" id="exampleModalAprob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Observaciones/Recomendaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="modal-body" action="{% url 'ordenpedido:apruebacompra' id %}" method="GET">
                <div class="form-group">
                  <textarea class="form-control" id="message-text" name="text" va>{{ observa }}</textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" name="rechazar" class="btn btn-primary" id="enviar">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
  $(window).on("load", function() {
        $(".loader").fadeOut("slow");
    });

    $(document).ready(function() {    
        $('#enviar').on('click', function(){
            //Añadimos la imagen de carga en el contenedor
            $(".loader").show();
            $(window).on("load", function(){
                $(".loader").fadeOut("slow");
            });
        });              
    }); 
</script>
{% endblock %}