{% extends 'base.html' %}

{% block extrahead %}
<meta charset="utf-8">

{% endblock %}

{% block title %}
    <h2>Ordenes de Pedidos</h2>
{% endblock %}

{% block content %}
<div class="loader"></div>
<div class="jumbotron" style="width: 75%; margin:auto; padding-top: 25px; margin-top: 50px; margin-bottom: 25px;">
<h3 class="display-6">Ingreso de Ordenes de Pedido (ECAD-R-2-1)</h3>
<!-- <h4 class="display-6">Hola {{ user.first_name }} {{ user.last_name }}</h4> -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <input id="usuario_solicita" type="text" name="usuario_solicita" hidden value="{{ user.id }}">
        {{ form2.auth_user }}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>{{ form2.ubica.label }}</label>
            <select name="ubica" id="ubica" class="form-control in" required>
                <option value="" selected>-------</option>
                {% for i in ubica %}
                <option value="{{ i.id }}">{{ i.ubica_nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label>{{ form2.departamento.label }}</label>
            {{ form2.departamento }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>{{ form2.grupo.label }}</label>
            <select name="grupo" id="grupo" class="form-control in" required>
                <option value="" selected>-------</option>
                {% for g in grupo %}
                <option value="{{ g.id }}">{{ g.grupo_nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label>{{ form2.area.label }}</label>
            <select name="area" id="area" class="form-control in" required>
                <option value="" selected>-------</option>
                {% for i in area %}
                <option value="{{ i.area_codigo }}" data-chained="{{ i.area_ubica }}">{{ i.area_nombre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="{{ form2.tipoactivo.tipac }}">{{ form2.tipoactivo.label }}</label>
            {{ form2.tipoactivo }}
        </div>
        <!-- <div class="form-group col-md-4">
            <label for="{{ form2.tiempo_vida.tv }}">{{ form2.tiempo_vida.label }}</label>
            {{ form2.tiempo_vida }}
        </div>   -->

        <div class="form-group col-md-4">
            <label>Tiempo de vida</label> 
            <select name="tiempo_vida" id="tiempo_vida" class="form-control" required>
                    <option value="0" selected>----</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    <option value=11>11</option>
                    <option value=12>12</option>
                    <option value=13>13</option>
                    <option value=14>14</option>
                    <option value=15>15</option>
                    <option value=16>16</option>
                    <option value=17>17</option>
                    <option value=18>18</option>
                    <option value=19>19</option>
                    <option value=20>20</option>
                    <option value=21>21</option>
                    <option value=22>22</option>
                    <option value=23>23</option>
                    <option value=24>24</option>
                    <option value=25>25</option>
            </select>
    </div>

        <div class="form-group col-md-2">
            <label for="{{ form2.tiempo_tipo.tt }}">{{ form2.tiempo_tipo.label }}</label>
            {{ form2.tiempo_tipo }}
        </div>
    </div>
    <div class="form-row" style="margin-left: 21px;">
        <label for="{{ form2.parte_activo.pa }}">{{ form2.parte_activo.label }}</label>
        {{ form2.parte_activo }}
    </div>
   
<pre></pre>
    <div class="form-group col-md-12">
        {{ proyecto }}
    </div>



    <!-- <div class="form-group col-md-12">
        <div class="form-check">
            {{ form2.regimenespecial }}
            <label for="{{ form2.regimenespecial.regesp }}">{{ form2.regimenespecial.label }}</label>
        </div>
    </div> -->
    <div class="form-group col-md-12">
        <label for="{{ form.descripcion.desc }}">{{ form.descripcion.label }}</label>
        {{ form.descripcion }}
    <pre></pre>
    <div class="form-row">
        <div class="col-md-10">
            <label for="{{ form.cantidad.cant }}">{{ form.cantidad.label }}</label>
            {{ form.cantidad }}
        </div>
        <div class="col-md-2">
            <label for="{{ form.unimedida.uni }}">{{ form.unimedida.label }}</label>
            {{ form.unimedida }}
        </div>
    </div>
<pre></pre>
    <div class="form-row">
        <div class="col-md-12">
            <label for="{{ form2.justificacion_compra.jc }}">{{ form2.justificacion_compra.label }}</label>
            {{ form2.justificacion_compra }}
        </div>
    </div>

    <div class="form-row" style="margin-top: 25px;">
        <div class="col-md-4">
            <label for="{{ form2.motivo_compra.mc }}">{{ form2.motivo_compra.label }}</label>
            {{ form2.motivo_compra }}
        </div>
    </div>
<pre></pre>
    <div class="form-row" id="reemplazo_accion_div">
        <div class="col-md-4">
            <label for="{{ form2.reemplazo_accion.ra }}">{{ form2.reemplazo_accion.label }}</label>
            {{ form2.reemplazo_accion }}
        </div>
<br>
        <div class="form-group col-md-12" id="codigo_reemplazado_div">
            <label>Seleccione el código del Activo a Darse de Baja</label> 
            <select name="activo_reemplazo" id="activo_reemplazo" style="width: 100%;" class="form-control">
                    <option value="0" selected>----</option>
                    {% for i in activo %}
                            <option value="{{ i.activo_codigo }}">{{ i.activo_codigo }}&nbsp&nbsp{{ i.activo_descripcion }}</option>
                    {% endfor %}
            </select>
    </div>
    <pre></pre>
        <div class="col-md-12">
            <label for="{{ form2.reemplazo_observa.ro }}">{{ form2.reemplazo_observa.label }}</label>
            {{ form2.reemplazo_observa }}
        </div>

    <pre></pre>
    

</div>

<pre></pre>
    <div class="row">
        <label><strong>ZONA DE CARGA DE ARCHIVOS</strong><p>Los nombres de los archivos no deben contener tildes, eñes o caracteres especiales</p></label>
    </div>
    <pre></pre>
    <div class="form-row" style="margin-top: -25px;">
        <div class="col-md-6">
            <label for="{{ form.cantidad.cant }}">{{ form.img_1.label }}</label>
            {{ form.img_1 }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.unimedida.uni }}">{{ form.img_2.label }}</label>
            {{ form.img_2 }}
        </div>
    </div>
    <pre></pre>
    <div class="form-row" style="margin-top: 10px;">
        <div class="col-md-6">
            <label for="{{ form.cotiza_Ref.cant }}">{{ form.cotiza_Ref.label }}</label>
            {{ form.cotiza_Ref }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.otros_doc.cant }}">{{ form.otros_doc.label }}</label>
            {{ form.otros_doc }}
        </div>
    
    
    </div>
   
    
   
    </div>
    <pre></pre>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary" id="enviar">Generar</button>
        </div>
    </div>
</form>
</div>
<!-- <div style="float: right; width: 30%; padding: 0px 0px 0px 10px">
    <h3>Contenido derecho</h3>
</div> -->
{% endblock %}

{% block extrajs %}
<script>
    // $("#area").chained("#ubica");
    // $("#area").on("change", chained("#ubica"));


    $("#reemplazo_accion_div").hide().val("");
    $("#codigo_reemplazado_div").hide().val("");
    
    $("#motivo_compra").change(function(){
        var opcion = $(this).val();

        if (opcion == "reemplazo_m" || opcion == 'reemplazo_r' || opcion == 'reemplazo_o'){
            $("#reemplazo_accion_div").show();
            
            }
                else {
                      $("#reemplazo_accion_div").hide().val("");
                      }
                    
    });


    $("#reemplazo_accion").change(function(){
                var opcion = $(this).val();

                if (opcion == 1 ){
            
                $("#codigo_reemplazado_div").show();
                $('#codigo_reemplazado_div').attr('required',1)
                 }
                else {
                      $("#codigo_reemplazado_div").hide().val("");
                      }
                    
    });



    function ordenarSelect(id_componente)
    {
      var selectToSort = jQuery('#' + id_componente);
      var optionActual = selectToSort.val();
      selectToSort.html(selectToSort.children('option').sort(function (a, b) {
        return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
      })).val(optionActual);
    }
    // $(document).ready(function () {
    //   ordenarSelect('selectPaises');
    // });

    function ordenarSelect(id_componente)
    {
      var selectToSort = jQuery('#' + id_componente);
      var optionActual = selectToSort.val();
      selectToSort.html(selectToSort.children('option').sort(function (a, b) {
        return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
      })).val(optionActual);
    }
    $(document).ready(function () {
      ordenarSelect('tiempo_tipo');
    });
    
    $( function(){
        $("#tiempo_vida").sort();
    });
    // $(document).ready(function () {
    //   ordenarNum('tiempo_vida');
    // });

    $(window).on("load", function() {
        $(".loader").fadeOut("slow");
    });

    $(document).ready(function() {    
        $('#enviar').on('click', function(){
            var incompletos = false
            $('.in').each(function(){
                if ($(this).val().trim() == ''){
                    incompletos = true
                }
            });
            if (incompletos == false){
                //Añadimos la imagen de carga en el contenedor
                $(".loader").show();
                $(window).on("load", function(){
                    $(".loader").fadeOut("slow");
                });
            }
        });              
    });

    $("#ubica").on('change', function () {
        var id = $(this).val();
        var ubica = $("#area");
        var options = "<option value=''>---------</option>"
        if (id === ''){
            ubica.html(options);
            return false;
        }
        $.ajax({
            url: "{% url 'ordenpedido:ubica_area_ajax' %}",
            type: "GET",
            data: {
                'action': 'search_ubica',
                'id': id,
                // 'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: "json",
        }).done(function (data) {
            if (!data.hasOwnProperty("error")){
                $.each(data, function(key, value){
                    options += "<option value='" + value.area_codigo + "'>" + value.area_nombre + "</option>"
                });
                return false;
            }
        }).fail(function (jqXHR, textStatus, errorThrown ) {
            alert(textStatus + ': ' + errorThrown);
            console.log(jqXHR);
        }).always(function (data) {
            ubica.html(options)
        })
    });
    
</script>
{% endblock %}