{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    <h2>Cotizar Ordenes de Pedidos</h2>
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
    <div class="container" style="margin: 25px auto;">
      <div style="margin-top: 25px;">
        {% if fact == true %}
        <button type="button" name="aceptar" id="aceptar" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" style="float: right; margin-bottom: 25px;">Aceptar y Almacenar Valor de Compra</button>
        {% endif %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Ingrese el número de factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="modal-body" action="{% url 'trabajos:aprobacion_factura' %}" method="GET">
                <div class="form-group">
                  <input class="form-control" type="text" name="factura" id="factura" required>
                  <input type="text" name="pedido" id="pedido" hidden>
                  <input type="text" name="valor" id="valor" hidden>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" name="enviar" class="btn btn-primary" id="enviar">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
        <table class="table table-bordered table-sm">
                <tbody>
                  {% for form in cot %}
                  <tr>
                    <th class="table-dark" scope="col" style="width: 25%;">Orden N°</th>
                    <td style='font-size: 14px;'><b>{{ form.numtrabajo.numtrabajo }}</b></td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Usuario Solicitante:</th>
                    <td>{{ form.numtrabajo.usuario_solicita.first_name }} {{ form.numtrabajo.usuario_solicita.last_name }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Departamento Solicitante:</th>
                    <td>{{ form.numtrabajo.departamento }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Sector:</th>
                    <td>{{ form.numtrabajo.area }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Proyecto:</th>
                    <td>{{ form.numtrabajo.numproyecto | default:"--" }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Descripción:</th>
                    <td>{{ form.descripcion }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Justifiación Compra:</th>
                    <td>{{ form.numtrabajo.justificacion_compra }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Observaciones Adquisiciones:</th>
                    <td>{{ form.numtrabajo.cotiza_observa | default:"--" }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Observaciones Gerente de Área:</th>
                    <td>{{ form.numtrabajo.observa_selec_cot | default:"--" }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Observaciones Administrativas:</th>
                    <td>{{ form.numtrabajo.observa_compra | default:"--" }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Cotización Referencial:</th>
                    <td><a class="card-link" href="/media/{{ form.cotiza_Ref }}" target="_blank">{{ form.cotiza_Ref }}</a></td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Otros Documentos:</th>
                    <td><a class="card-link" href="/media/{{ form.otros_doc }}" target="_blank">{{ form.otros_doc }}</a></td>
                  </tr>

                  {% if form.img_1 %}
                  <tr>
                    <th class="table-dark" scope="col">Imagen 1:</th>
                    <td>
                      <a class="card-link" href="#" data-toggle="modal" data-target="#img_1" data-whatever="@getbootstrap">{{ form.img_1 }}</a>
                      <div class="modal fade" id="img_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div>
                              <img src="/media/{{ form.img_1 }}" class="img-thumbnail rounded" alt="...">
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% if form.img_2 %}
                  <tr>
                    <th class="table-dark" scope="col">Imagen 2:</th>
                    <td>
                      <a class="card-link" href="#" data-toggle="modal" data-target="#img_2" data-whatever="@getbootstrap">{{ form.img_2 }}</a>
                      <div class="modal fade" id="img_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div>
                              <img src="/media/{{ form.img_2 }}" class="img-thumbnail rounded" alt="...">
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
        </table>
      <div class="dropdown-divider" style="margin: 25px auto;"></div>
      <h4 class="display-6">Proveedores y Valores:</h4>
      <div style="margin: 25px auto">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Id</th>
              <th>Valor</th>
              <th>Provedor</th>
              <th>Selección</th>
            </tr>
          </thead>
          <tbody>
            {% for detalle in detalle %}
            <tr>
              <td>{% render_field detalle.id disabled=True %}</td>
              <td>{% render_field detalle.valor disabled=True %}</td>
              <td>{% render_field detalle.empresa_cotiza disabled=True %}</td>
              <td>{% render_field detalle.cotiza_seleccion disabled=True %}</td>
              <td>
                <a href="http://{{ request.META.HTTP_HOST }}/media/{{detalle.pdf_cotiza.value}}" target="blank_">Ver</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- <div class="dropdown-divider" style="margin: 25px auto;"></div> -->
    </div>
{% endblock %}

{% block extrajs %}
<script>
  let pedi = '{{ id }}';
  let valor = '{{ valor }}';

  $(document).ready(function(){
    $('#aceptar').on('click', function(){
      $('#pedido').val(pedi);
      $('#valor').val(valor);
    });
  });
</script>
{% endblock %}