{% extends 'base.html' %}
<!-- {% load tz %} -->
{% block extrahead %}
 
{% endblock %}

{% block content %}
<div class="container" style="margin: 25px auto;">
  <div class="row">
    <div class="col-md 12 search">
      <form class="form-inline my-2 my-lg-0" method="GET">
        <input class="form-control mr-sm-2" type="text" placeholder="N° Pedido" name="buscar" {% if busqueda %} value="{{ busqueda }}" {% endif %}>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        <a class="btn btn-secondary my-2 my-sm-0" style="margin-left: 10px;" href="{% url 'trabajos:compras_conta' %}"></button>Limpiar</a>
      </form>
    </div>
  </div>
</div>
<div style="margin: 25px auto;">
  <div>
    <div>
      <table class="table table-sm table-hover table-primary">
        <h4>Compras Facturadas de Insumos/Trabajos</h4>
        {% if form %}
          <thead>
            <tr>
              <th scope="col">Pedido</th>
              <th scope="col">Usuario</th>
              <th scope="col">Departamento</th>
              <!-- <th scope="col">Area</th> -->
              <!-- <th scope="col">Regimen Especial</th> -->
              <th scope="col">Proyecto</th>
              <th scope="col">Fecha Solicitud</th>
              <th scope="col">Tipo Pedido</th>
              <!-- <th scope="col">Valor</th> -->
              <th scope="col">N° Factura</th>
              <th scope="col">Estado</th>
              <th scope="col">Usuario Registra</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for pedido in form %}
            <tr class="table-active">
              <td>{{ pedido.numtrabajo.numtrabajo | default:'--' }}</td>
              <td>{{ pedido.numtrabajo.usuario_solicita.first_name }} {{ pedido.numtrabajo.usuario_solicita.last_name }}</td>
              <td>{{ pedido.numtrabajo.departamento | default:'--' }}</td>
              <!-- <td>{{ pedido.numtrabajo.area }}</td> -->
              <!-- <td>{{ pedido.regimenespecial }}</td> -->
              <td>{{ pedido.numtrabajo.numproyecto | default:'--' }}</td>
              <td>{{ pedido.numtrabajo.fchsolicita|date:'Y-m-d' }}</td>
              <td>{{ pedido.numtrabajo.tipo_pedi | default:'--' }}</td>
              <!-- <td>{{ pedido.valor | default:'--' }}</td> -->
              <td>{{ pedido.numtrabajo.numero_factura | default:'--' }}</td>
              {% if pedido.numtrabajo.aceptacion_factura == True %}
              <td>Registrado</td>
              {% else %}
              <td>Pendiente</td>
              {% endif %}
              <td>{{ pedido.numtrabajo.usuario_factura | default:'--' }}</td>
              <td>
                <a href="{% url 'trabajos:compras_conta_det' pedido.numtrabajo.numtrabajo %}" class="btn btn-primary">Abrir</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% else %}
            <div class="alert-danger" role="alert">
              <h3 style="text-align: center;">No Hay Cmpras en Espera</h3>
            </div>
          {% endif %}
      </table>
    </div>  
  </div>
</div>


<div class="pagination">
  <span class="step-links">
      {% if form.has_previous %}
          <a href="?page=1">&laquo; inicio</a>
          <a href="?page={{ form.previous_page_number }}">previo</a>
      {% endif %}

      <span class="current">
          Page {{ form.number }} of {{ form.paginator.num_pages }}.
      </span>

      {% if form.has_next %}
          <a href="?page={{ form.next_page_number }}">próximo</a>
          <a href="?page={{ form.paginator.num_pages }}">último &raquo;</a>
      {% endif %}
  </span>
</div>

</div>


{% endblock %}

{% block extrajs %}
<script>

</script>
{% endblock %}