{% extends 'base.html' %}
<!-- {% load tz %} -->
{% block extrahead %}
  <style>
    body {font-family: Arial;}
    
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    
    /* Style the close button */
    .topright {
      float: right;
      cursor: pointer;
      font-size: 28px;
    }
    
    .topright:hover {color: red;}
  </style>
{% endblock %}

{% block content %}
<div class="container" style="margin: 25px auto;">
  <div class="row">
    <div class="col-md 12 search">
      <form class="form-inline my-2 my-lg-0" method="GET">
        <input class="form-control mr-sm-2" type="text" placeholder="N° Pedido, Descripción" name="buscar" {% if queryset %} value="{{queryset}}" {% endif %}>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        <a href="{% url 'trabajos:recepcion' %}" style="margin-left:4px;" class="btn btn-secondary my-2 my-sm-0" type="submit">Limpiar</a>
      </form>
    </div>
  </div>
</div>
<div style="margin: 25px auto;">
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Pendientes')" id="pendientes">Pendientes y Abiertas</button>
    <button class="tablinks" onclick="openTab(event, 'Entregadas')" id="entregadas">Entregadas</button>
  </div>

  <div id="Pendientes" class="tabcontent">
    <!-- <span onclick="this.parentElement.style.display='none'" class="topright">&times</span> -->
    <div>
      <table class="table table-hover table-dark">
        <!-- <h2>Recepción de Productos</h2> -->
        {% if form %}
          <thead style="text-align: center;">
            <tr>
              <th scope="col">Pedido</th>
              <th scope="col">Usuario</th>
              <th scope="col">Departamento</th>
              <!-- <th scope="col">Area</th> -->
              <!-- <th scope="col">Regimen Especial</th> -->
              <!-- <th scope="col">Proyecto</th> -->
              <th scope="col">Fecha Solicitud</th>
              <th scope="col">Descripción</th>
              <th scope="col">Observacion Adquisisciones</th>
              <th scope="col">Obs. Entrega Parcial</th>
              <th scope="col" colspan="3">Liquidaciones</th>
            </tr>
          </thead>
          <tbody>
            {% for pedido in form %}
            <tr class="table-active">
              <td>{{ pedido.numtrabajo.numtrabajo }}</td>
              <td>{{ pedido.numtrabajo.usuario_solicita.first_name }} {{ pedido.numtrabajo.usuario_solicita.last_name }}</td>
              <td>{{ pedido.numtrabajo.departamento }}</td>
              <!-- <td>{{ pedido.numtrabajo.area }}</td> -->
              <!-- <td>{{ pedido.regimenespecial }}</td> -->
              <!-- <td>{{ pedido.numtrabajo.numproyecto | default:'--'  }}</td> -->
              <td>{{ pedido.numtrabajo.fchsolicita|date:'Y-m-d' }}</td>
              <td>{{ pedido.descripcion }}</td>
              <td>{{ pedido.numtrabajo.cotiza_observa | default:"--" }}</td>
              <td>{{ pedido.numtrabajo.entrega_observa | default:'--' }}</td>
              {% if pedido.numtrabajo.recibido_bodega != True %}
              <td>
                <a href="{% url 'trabajos:recibido' pedido.numtrabajo.numtrabajo %}" class="btn btn-success glyphicon glyphicon-log-in" title="Recibido"></a>
              </td>
              {% else %}
              <td>
                <label for="">Recibido</label>
                <input type="checkbox" checked>
              </td>
              {% endif %}
              <td>
                <button {% if pedido.numtrabajo.tipo_liquida != 2 and pedido.numtrabajo.recibido_bodega == True %} class="btn btn-warning" {% else %} disabled {% endif %} type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" id="parcial">Parcial</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Entrega Parcial de Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form class="modal-body" action="{% url 'trabajos:recepcion_parcial' pedido.numtrabajo.numtrabajo %}" method="GET">
                        <div class="form-group">
                          <textarea class="form-control" id="message-text" name="text" placeholder="Ingrese el nombre a quien entrega o alguna observación adicional"></textarea>
                          <input type="text" value="{{ pedido.numtrabajo.numtrabajo }}" hidden>
                          <input type="text" id="pedidoparcial" name="pedidoparcial" hidden>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" name="rechazar" class="btn btn-primary">Enviar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <button {% if pedido.numtrabajo.tipo_liquida != 2 and pedido.numtrabajo.recibido_bodega == True %} class="btn btn-danger" {% else %} disabled {% endif %} type="button" data-toggle="modal" data-target="#exampleModalT" data-whatever="@getbootstrap" id="rech">Total</button>
                <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Entrega Total de Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form class="modal-body" action="{% url 'trabajos:recepcion_total' pedido.numtrabajo.numtrabajo %}" method="GET">
                        <div class="form-group">
                          <textarea class="form-control" id="message-text" name="texttotal" placeholder="Ingrese el nombre a quien entrega o alguna observación adicional"></textarea>
                          <input type="text" value="{{ pedido.numtrabajo.numtrabajo }}" hidden>
                          <input type="text" id="pedido" name="pedido" hidden>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" name="rechazar" class="btn btn-primary">Enviar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% else %}
            <div class="alert-danger" role="alert">
              <h3 style="text-align: center;">No se encontraron pedidos pendientes de entrega</h3>
            </div>
          {% endif %}
      </table>
    </div> 
    
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center col-sm-12">
          {% if form.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page_recep=1">&laquo;first</a>
                </li>
              <li class="page-item">
                <a class="page-link" href="?page_recep={{ form.previous_page_number }}">previous</a>
              </li>
          {% endif %}
  
          {% for i in form.paginator.page_range %}
          {% if i <= form.number|add:5 and i >= form.number|add:-5 %}
              {% if i == form.number %}
                  <li class="page-item active">
                      <a class="page-link" href="#">{{ i }}</a>
                  </li>
              {% else %}
                  <li class="page-item">
                      <a class="page-link" href="?page_recep={{ i }}">{{ i }}</a>
                  </li>
              {% endif %}
            {% endif %}
          {% endfor %}
  
          {% if form.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page_recep={{ form.next_page_number }}">next</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page_recep={{ form.paginator.num_pages }}">last&raquo;</a>
              </li>
          {% endif %}
      </ul>
    </nav>
  </div>

  <div id="Entregadas" class="tabcontent">
    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
    <div>
      <table class="table table-hover">
        <h2>Productos Entregados</h2>
        <thead class="thead-dark" style="text-align: center;">
          <tr>
            <th>Pedido</th>
            <th>Usuario</th>
            <th>Departamento</th>
            <!-- <th>Area</th> -->
            <!-- <th>Regimen Especial</th> -->
            <th>Proyecto</th>
            <th>Fecha Solicitud</th>
            <th>Descripción</th>
            <th>Obs. Entrega Parcial</th>
            <th>Obs. Entrega Total</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for aprobado in form3 %}
          <tr data-href="{% url 'trabajos:detalle_entrega' aprobado.numtrabajo.numtrabajo %}" style="cursor: pointer;">
            <td>{{ aprobado.numtrabajo.numtrabajo }}</td>
            <td>{{ aprobado.numtrabajo.usuario_solicita.first_name }} {{ aprobado.numtrabajo.usuario_solicita.last_name }}</td>
            <td>{{ aprobado.numtrabajo.departamento }}</td>
            <!-- <td>{{ aprobado.numtrabajo.area }}</td> -->
            <!-- <td>{{ aprobado.regimenespecial }}</td> -->
            <td>{{ aprobado.numtrabajo.numproyecto }}</td>
            <td>{{ aprobado.numtrabajo.fchsolicita|date:'Y-m-d' }}</td>
            <td>{{ aprobado.descripcion }}</td>
            <td>{{ aprobado.numtrabajo.entrega_observa | default:'--'}}</td>
            <td>{{ aprobado.numtrabajo.total_observa | default:'--'}}</td>
            {% if aprobado.numtrabajo.entregado_bodega == True %}
              <td>Entregado</td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
      </table>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center col-sm-12">
            {% if form3.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page_ent=1">&laquo;first</a>
                  </li>
                <li class="page-item">
                  <a class="page-link" href="?page_ent={{ form3.previous_page_number }}">previous</a>
                </li>
            {% endif %}
    
            {% for i in form3.paginator.page_range %}
            {% if i <= form3.number|add:5 and i >= form3.number|add:-5 %}
                {% if i == form3.number %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page_ent={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
              {% endif %}
            {% endfor %}
    
            {% if form3.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page_ent={{ form3.next_page_number }}">next</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page_ent={{ form3.paginator.num_pages }}">last&raquo;</a>
                </li>
            {% endif %}
        </ul>
      </nav>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script>

  var act = '{{ activate }}';

  $(document).ready(function(){
    $('*[data-href]').on('click', function(){
      window.location = $(this).data("href");
    });
  });

  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  // document.getElementById("defaultOpen").click();
  $(document).ready(function(){
    if (act == 0){
      document.getElementById("pendientes").click();
    }else{
      document.getElementById(act).click();
    }
  });

  $(document).ready(function(){
    $(document).on('click', '#rech', function(){
      var filaactual = $(this).closest("tr"); // obtiene la fila actual
      var id = filaactual.find("td:eq(0)").text(); //obtener el valor del primer td de la fila actual
      $('#pedido').val(id);
    });

    $(document).on('click', '#parcial', function(){
      var filaactual = $(this).closest("tr"); // obtiene la fila actual
      var id = filaactual.find("td:eq(0)").text(); //obtener el valor del primer td de la fila actual
      $('#pedidoparcial').val(id);
    });
  });
</script>
{% endblock %}