{% extends 'base.html' %}
<!-- {% load tz %} -->

{% block extrahead %}
  <style>
    body {font-family: Arial;}
    
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    
    /* Style the close button */
    .topright {
      float: right;
      cursor: pointer;
      font-size: 28px;
    }
    
    .topright:hover {color: red;}
  </style>
{% endblock %}

{% block content %}
<div class="loader"></div>
  <div class="container" style="margin-top: 25px;">
    <div class="row">
      <div class="col-md 12 search">
        <form class="form-inline my-2 my-lg-0" method="GET">
          <input class="form-control mr-sm-2" type="text" placeholder="N° Pedido, Descripción" name="buscar" {% if busqueda %} value="{{ busqueda }}" {% endif %}>
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          <a class="btn btn-secondary my-2 my-sm-0" style="margin-left: 10px;" href="{% url 'trabajos:aprueba_trabajos' %}"></button>Limpiar</a>
        </form>
      </div>
    </div>
  </div>
  <div style="width: 98%; margin: auto;">
    <table class="table table-hover table-dark">
      <h2>Ordenes de Pedido</h2>
      {% if form %}
        <thead>
          <tr>
            <th scope="col">N° Pedido</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha Solicitud</th>
            <th scope="col">Tipo</th>
            <!-- <th scope="col">Proyecto</th> -->
            <th scope="col">Descripción</th>
            <th scope="col">Estado Aprobador</th>
            <th scope="col">Estado Cotización</th>
            <th scope="col">Est. Aprueba Administrativa</th>
            <th scope="col">Observación Administrativa</th>
            <th colspan="3">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for pedido in form %}
          <tr class="table-active">
            <td>{{ pedido.numtrabajo.numtrabajo }}</td>
            <td>{{ pedido.numtrabajo.usuario_solicita.first_name }} {{ pedido.numtrabajo.usuario_solicita.last_name }}</td>
            <td>{{ pedido.numtrabajo.fchsolicita|date:'Y-m-d' }}</td>
            {% if pedido.numtrabajo.tipo_pedi_id == 'AM' %}
              <td>ANALISIS MICROBIOLOGICO</td>
            {% elif pedido.numtrabajo.tipo_pedi_id == 'AP' %}
              <td>ANALISIS DE PESTICIDAS</td>
            {% elif pedido.numtrabajo.tipo_pedi_id == 'CA' %}
              <td>SERVICIO DE CALIBRACIÓN</td>
            {% elif pedido.numtrabajo.tipo_pedi_id == 'CP' %}
              <td>CONTROL DE PLAGAS</td>
            {% else %}
              <td>{{ pedido.numtrabajo.tipo_pedi.nombre }}</td>
            {% endif %}
            <!-- <td>{{ pedido.numtrabajo.numproyecto | default:"--" }}</td> -->
            <td>{{ pedido.descripcion }}</td>
            {% if pedido.numtrabajo.aprobado == 1 %}
              <td>Enviado</td>
            {% elif pedido.numtrabajo.aprobado == 0 %}
              <td>Rechazado</td>
            {% elif pedido.numtrabajo.aprobado == 2 %}
              <td style="color:rgb(230, 168, 11)"><b>Anulada</b></td>
            {% else %}
              <td>Por Enviar</td>
            {% endif %}
            {% if pedido.numtrabajo.estado_cotiza == True %}
              <td>Cotizado</td>
            {% else %}
              <td>Pendiente Cotizar</td>
            {% endif %}
            {% if pedido.numtrabajo.genera_compra == 1 %}
            <td>Aprobado</td>
            {% elif pedido.numtrabajo.genera_compra == 2 %}
            <td>Devuelto</td>
            {% else %}
            <td>Pendiente</td>
            {% endif %}
            <td>{{ pedido.numtrabajo.observa_compra | default:"--" }}</td>
            <td>
              {% if pedido.numtrabajo.aprobado != 1 and pedido.numtrabajo.aprobado != 2 %}
              <form action="{% url 'trabajos:aprobado' pedido.numtrabajo.numtrabajo %}" method="GET">
                <button type="submit" name="aprobar" class="btn btn-primary glyphicon glyphicon-ok" title="Aprobar"></button>
              </form>
              <form action="{% url 'trabajos:editar_trabajo_aut' pedido.numtrabajo.numtrabajo %}" method="GET">
                <button type="submit" name="aprobar" class="btn btn-success glyphicon glyphicon-edit" title="Editar"></button>
              </form>
              <button type="button" id="rech" name="rech" class="btn btn-danger glyphicon glyphicon-remove" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" title="Rechazar"></button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Ingrese el motivo del rechazo</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form class="modal-body" action="{% url 'trabajos:rechazado' pedido.numtrabajo.numtrabajo %}" method="GET">
                      <div class="form-group">
                        <input type="text" name="pedido" id="pedido"/>
                        <textarea class="form-control" id="message-text" name="text"></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="rechazar" class="btn btn-primary">Enviar</button>
                      </div>
                    </form>
                  </div>
                  </div>
                </div>
                {% else %}
                {% if pedido.numtrabajo.usuario_aprueba == 20  %}
                <!-- WORKAROUND PARA MOSTRAR FACTURAS EN ORDENES APROBADAS ALEXANDRA AYALA 16-MAR-2023 -->

                <form action="{% url 'trabajos:revisar_trabajo_aut' pedido.numtrabajo.numtrabajo %}" method="GET">
                  <button type="submit" name="ver" class="btn btn-warning glyphicon glyphicon-eye-open" title="Ver"></button>
                </form>
                {% endif %}

                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
          <div class="alert-danger" role="alert">
            <h3 style="text-align: center;">No Hay Ordenes Para Aprobar</h3>
          </div>
        {% endif %}
    </table>
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if form.has_previous %}
            <a href="?page=1">&laquo; inicio</a>
            <a href="?page={{ form.previous_page_number }}">previo</a>
        {% endif %}
  
        <span class="current">
            Page {{ form.number }} of {{ form.paginator.num_pages }}.
        </span>
  
        {% if form.has_next %}
            <a href="?page={{ form.next_page_number }}">próximo</a>
            <a href="?page={{ form.paginator.num_pages }}">último &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}

{% block extrajs %}
<script>
  // function openTab(evt, tabName) {
  //   var i, tabcontent, tablinks;
  //   tabcontent = document.getElementsByClassName("tabcontent");
  //   for (i = 0; i < tabcontent.length; i++) {
  //     tabcontent[i].style.display = "none";
  //   }
  //   tablinks = document.getElementsByClassName("tablinks");
  //   for (i = 0; i < tablinks.length; i++) {
  //     tablinks[i].className = tablinks[i].className.replace(" active", "");
  //   }
  //   document.getElementById(tabName).style.display = "block";
  //   evt.currentTarget.className += " active";
  // }
  
  // Get the element with id="defaultOpen" and click on it
  // document.getElementById("defaultOpen").click();
  
  // $(document).ready(function (e) {
  //   $('#exampleModal').on('show.bs.modal', function(e) {    
  //     var id = $(e.relatedTarget).data().id;
  //       $(e.currentTarget).find('#pedido').val(id);
  //   });
  // });

$(document).ready(function(){
	$(document).on('click', '#rech', function(){
    var filaactual = $(this).closest("tr"); // obtiene la fila actual
    var id = filaactual.find("td:eq(0)").text(); //obtener el valor del primer td de la fila actual
    // var id = $(this).find("td:first").html()
    // var id = $(this).find('{{pedido.numpedido.numpedido}}')
    // var id='{{pedido.numpedido}}'
		// var id=$(this).val();
		// var first=$('#firstname'+id).text();
		// var last=$('#lastname'+id).text();
		// var address=$('#address'+id).text();
	
		// $('#edit').modal('show');
		$('#pedido').val(id);
		// $('#elastname').val(last);
		// $('#eaddress').val(address);
	});
});

$(window).on("load", function() {
  $(".loader").fadeOut("slow");
});

$(document).ready(function() {    
  $('#enviar').on('click', function(){
    //Añadimos la imagen de carga en el contenedor
    $(".loader").show();
    $(window).on("load", function(){
        $(".loader").fadeOut("slow");
    });
  });              
});  

</script>
{% endblock %}