
{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block extrahead %}

<meta charset="utf-8">

<style>
  th, td {
  text-align: left;
  padding: 8px;
}

.caja {
  margin-top: 10px;
}

.span-mod {
   position: relative;
   top: 0em;
   left: 0em;
   /* background-color: lime; */
}

.subtitulos {
  font-weight: bold;
}



.carpetas {
  color:khaki;
  left: 1em;
}

.enlace {
  position: relative;
  left: 2.5em;
}

.centrado {
  text-align:center;
}

</style>

{% endblock %}

{% block content %}

<div class="loader"></div>
<div class="container-fluid">
  

<div class="row">
  <div class="col-12">
    <div class="row">
    <h4 style="margin-top: 15px;">Pre cotización para orden de pedido N° {{queryset.numtrabajo.numtrabajo}} </h4>
    
    </div>
     
</div> 
</div> 
    

    <div class="container-fluid">
      <h5 style="margin-top: 15px;">Notas/Observaciones de Adquisiciones </h5>
      <textarea class="form-control" name="observaciones-adqui" cols="50" rows="4" readonly>{{ queryset.observa_envia_precotiza }}</textarea>
    </div>
    
    <br>
    
    <div class="container-fluid">
      <table id="gallery" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" style="width: 10px;">N°</th>
            <th scope="col">Nombre Cotización</th>
            <th scope="col">Selección</th>
            
          </tr>
        </thead>
        <tbody>
        
          {% for documento in archivos_list %}
         
            <tr>
              <td style="width: 5%;"><strong>{{ forloop.counter }}</strong></td>
              <!-- <td><a href="{{ documento.archivos.url }}">{{ documento.archivos.name }}</a></td> -->
              {% if documento.nombre_corto %} 
              <td><a href="{{ documento.archivos.url }}" target="_blank">{{ documento.nombre_corto }}</a></td>
              {% else %}
              <td><a href="{{ documento.archivos.url }}" target="_blank">{{ documento.archivos.name }}</a></td> 
              {% endif %}
            
            
            <td>
              <input type="checkbox"
               {% if documento.seleccion == True %}
               checked
               {%endif%}  
               name="{{documento.id}}" onclick=actualiza({{documento.id}},this.checked)>
            </td>
            
          
            <tr>

          
           
          {% endfor %}
        </tbody>
      </table>
      
        <br>
        <form enctype="multipart/form-data" method="POST" action="">
          {% csrf_token %}
          <h5>Notas/Observaciones</h5>
          <textarea class="form-control" name="observaciones" cols="50" rows="4"></textarea>
          
          <button style="margin-top:5px;" type="submit" id="enviar" class="btn btn-primary" title="Enviar Pre cotización">Enviar</button>
        </td> 
       </form>
        <br>  

{% endblock content %}


{% block extrajs %}
<script>

$(window).on("load", function() {
        $(".loader").fadeOut("slow");
    });

    $(document).ready(function() {    
        $('#enviar').on('click', function(){
            //Añadimos la imagen de carga en el contenedor
            $(".loader").show();
            $(window).on("load", function(){
                $(".loader").fadeOut("slow");
            });
        });              
    });  
 
 function actualiza(id,estado){
  
  $.ajax({
    url:"{% url 'trabajos:save_estado_precotiza' %}",
    type:"GET",
    data:{
      'id':id,
      'valor':estado,
    },
    datatype:'json',
  }).done(function (data){
    if(!data.hasOwnProperty("error")){
      return True;
    }
  }).fail(function(jqpXHR,textStatus,errorThrown){
    console.log(textStatus + ": " + errorThrown);

  }).always(function(data){
    console.log(data)
  })
  
 }


</script>

{% load static %}

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/js/jquery.fileupload.js' %}"></script>

<script src="{% static 'js/basic-upload.js' %}"></script>




{% endblock %}