{% extends "layout/base.html" %}
{% block extrahead %}
<style>
    body {font-family: Arial;}
    
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    
    /* Style the close button */
    .topright {
      float: right;
      cursor: pointer;
      font-size: 28px;
    }
    
    .topright:hover {color: red;}


  </style>
{% endblock %}


{% block content %}

<div class="loader"></div>

<div class="container-fluid" style="margin-top: 25px;">
  <div class="row">
    <div class="col-md 12 search">
      <form class="form-inline my-2 my-lg-0" method="GET">
        <input class="form-control mr-sm-2" size="65px;" type="text" placeholder="Filtre por: N° Pedido, Solicitante ó Cargo" name="buscar" {% if busqueda %} value="{{ busqueda }}" {% endif %}>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        <a class="btn btn-secondary my-2 my-sm-0" style="margin-left: 3px;" href="{% url 'solicita_puestos:listar_solicita_puesto_rrhh' %}"></button>Limpiar</a>
      </form>
    </div>
  </div>
</div>


<div class="tab" style="margin-top: 25px;">
  {% if form2 %}
  <button class="tablinks" onclick="openTab(event, 'Pendientes')" id="defaultOpen">Nuevas Solicitudes ({{countn}})</button>
  <!-- <button class="tablinks" onclick="openTab(event, 'Proceso')">En proceso ({{countp}}) </button> -->
  <button class="tablinks" onclick="openTab(event, 'Aprobadas')">Gestionadas/Rechazos ({{countc}})</button>
  {% else %}
  <button class="tablinks" onclick="openTab(event, 'Aprobadas')" id="defaultOpen">Gestionadas/Rechazos ({{countc}})</button>
  <!-- <button class="tablinks" onclick="openTab(event, 'Proceso')" >En proceso ({{countp}})</button> -->
  <button class="tablinks" onclick="openTab(event, 'Pendientes')" >Nuevas Solicitudes de  ({{countn}})</button>
  {% endif %}
</div>

<div id="Pendientes" class="tabcontent">
  <table class="table table-hover table-striped table-dark" style="margin: 10px auto">
    {%if form2 %}
      <thead>
        <tr>
          <th scope="col">Solicitud N°</th>
          <th scope="col">Fecha Autoriza Solicitud</th>
          <th scope="col">Solicitante</th>
          <th scope="col">Ubicación</th>
          <th scope="col">Cargo</th>
          <th scope="col">Tipo</th> 
          <th scope="col" style="text-align:center">Ver</th>
          
        </tr>
      </thead>
      <tbody>
        
        {% for i in form2 %}
        <tr>
          <td>{{ i.id  }}</td>
          <td>{{ i.fecha_aprueba }}</td>
          <td>{{ i.solicitante }}</td>
          <td>{{ i.ubicacion }}</td>
          <td>{{ i.cargo }}</td>
          <td>{{ i.motivo }}</td>
          
          <td style="text-align:right">
            <a href="{% url 'solicita_puestos:gestionar_solicita_cargo_aprobado' i.id %}" class="btn btn-warning glyphicon glyphicon-eye-open" title="Ver detalle"></a>
          </td>
        </tr>
        {% endfor %}
        {% else %}
              <div class="alert-danger" role="alert">
                <h3 style="text-align: center;">No tiene nuevas solicitudes para gestionar</h3>
                
              </div>
            {% endif %}
      </tbody>
  </table>
</div>  


<!-- <div id="Proceso" class="tabcontent">

    <table class="table table-warning table-striped">
      {%if form3 %}
      <thead class="thead-dark">
        <tr>
          <th scope="col">N33333um</th>
          <th scope="col">Fecha Solicitud</th>
        <th scope="col">Fecha en Proceso</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Solicita</th>
        <th scope="col">Tipo</th> 
        <th scope="col">Notas Gestor</th>
        <th scope="col">Opción</th>
        
      </tr>
    </thead>
    <tbody>
      
      {% for i in form3 %}
      
      
      
      <td style="text-align:right"> 
        

        </td>
      </tr>
      {% endfor %}

      {% else %}
            <div class="alert-danger" role="alert">
              <h3 style="text-align: center;">No tiene solicitudes en proceso</h3>
              
            </div>
      {% endif %}
          
    </tbody>
  </table>
  
</div> -->



<div id="Aprobadas" class="tabcontent">
  


    <table class="table table-success table-striped table-sm">
    
      <thead class="thead-dark">
        <tr>
          <th scope="col">Num</th>
          <th scope="col">Fecha Solicitud</th>
          <!-- <th scope="col">Confirma Transp.</th> -->
          <th scope="col">Ubicación</th>
          <th scope="col">Solicita</th>
          <th scope="col">Tipo</th> 
          <th scope="col">Notas Gestor</th>
          <!-- <th scope="col">Transportista</th>
          <th scope="col">Tarifa Final</th>
          <th scope="col">Factura</th> -->
          <th scope="col">Opción</th>
        
      </tr>
    </thead>
    <tbody>

      {% if form4 %}
      
      {% for i in form4 %}
      <!-- {% if i.numtrabajo.estado1n == 3 %}
      <tr class="table-danger" >
      {% else %}  
      <tr class="table-success" >
      {% endif %}  -->
      
      <td>{{ i.id  }}</td>
      <td>{{ i.fecha_aprueba }}</td>
      <td>{{ i.ubicacion }}</td>
      <td>{{ i.solicitante }}</td>
      <td>{{ i.motivo }}</td>
      <td>{{ i.notasges }}</td>
      
      <td style="text-align:center"> 
        <a href="{% url 'solicita_puestos:gestionar_solicita_cargo_aprobado' i.id %}" class="btn btn-secondary glyphicon glyphicon-eye-open" title="Ver detalle"></a>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
          
    </tbody>
  </table>
  

</div>


{% endblock %}

{% block extrajs %}

<script>

  $(window).on("load",function() {
        $(".loader").fadeOut("slow");
    });

    $(document).ready(function() {    
        $('#enviar').on('click', function(){
            //Añadimos la imagen de carga en el contenedor
            $(".loader").show();
            $(window).on("load",function(){
                $(".loader").fadeOut("slow");
            });
        });              
    }); 


  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script>

{% endblock %}