{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    <h2>Gestión de Solicitudes de Ordenes Internas de Trabajo</h2>
{% endblock %}

{% block extrahead %}

<style>
  ul {
    list-style-type: none;
}
</style>
{% endblock %}

{% block content %}
<div class="loader"></div>
    <div class="container" style="margin: 25px auto;">
      <div class="btn-group" style="float: right;margin-bottom: 15px;">
        <a type="button" class="btn btn-success" href="{% url 'trabajosinternos:listar_mantenimiento' %}">Volver a listar</a>
        {% for form in cot %}
        <a type="button" style="margin-left: 3px;" class="btn btn-outline-secondary"  href="{% url 'trabajosinternos:cambia_estado_mant' form.numtrabajo.numtrabajo  %}">Poner en proceso</a>
        {% endfor %}
      
      </div>
      

        <table class="table table-bordered table-sm" style="margin-top:15px;">
                <tbody>
                  {% for form in cot %}
                  <tr>
                    <th class="table-dark" scope="col" style="width: 25%;">N° Solicitud:</th>
                    <td style='font-size: 18px; font-weight: bold;'>{{ form.numtrabajo.numtrabajo }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Usuario Solicitante:</th>
                    <td>{{ form.numtrabajo.usuario_solicita.first_name }} {{ form.numtrabajo.usuario_solicita.last_name }}</td>
                  </tr>

                  <tr>
                    <th class="table-dark" scope="col">Ubicación:</th>
                    <td>{{ form.numtrabajo.ubica }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Departamento Solicitante:</th>
                    <td>{{ form.numtrabajo.departamento }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Sector:</th>
                    <td>{{ form.numtrabajo.area | default:'--' }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Tipo:</th>
                    <td>{{ form.numtrabajo.get_tipo_display }}</td>
                  </tr>
                  <tr>
                    <th class="table-dark" scope="col">Autoriza:</th>
                    <td>{{ form.numtrabajo.usuario_aprueba1n }}</td>
                  </tr>
                  
                 


                  
                  {% if form.img_1 %}
                  <tr>
                    <th class="table-dark" scope="col">Imagen 1:</th>
                    <td>
                      <a class="card-link" href="#" data-toggle="modal" data-target="#img_1" data-whatever="@getbootstrap">{{ form.img_1 }} </a>
                      <div class="modal fade" id="img_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div>
                              <img src="/media/{{ form.img_1 }}"  class="img-thumbnail rounded" alt="...">
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% if form.img_2 %}
                  <tr>
                    <th class="table-dark" scope="col">Imagen 2:</th>
                    <td>
                      <a class="card-link" href="#" data-toggle="modal" data-target="#img_2" data-whatever="@getbootstrap">{{ form.img_2 }}</a>
                      <div class="modal fade" id="img_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div>
                              <img src="/media/{{ form.img_2 }}" class="img-thumbnail rounded" alt="...">
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  
                </tbody>
        </table>


     
          <div>
            <label for="text">Descripción del Trabajo</label>
            <div>
              <textarea class="form-control" id="message-text" name="text" rows="8" readonly>{{ form.numtrabajo.descripcion }}</textarea>
            </div>
            <pre></pre>

            <div>
              
              <label for="observaciones">Comentarios/Observaciones Gerencia Técnica:</label>
              <textarea name="observaciones" id="justifica" cols="30" rows="4" readonly class="form-control">{{ form.numtrabajo.observaciones_internas_mantenimiento | default:'--' }}</textarea>
            
          </div>
            
          </div>
          <pre></pre>
         
        
      </div>
    
    {% endfor %}

    




{% endblock %}

{% block extrajs %}
<script>
  $(window).on("load", function() {
        $(".loader").fadeOut("slow");
    });

    $(document).ready(function() {    
        $('#enviar').on('click', function(){
            //Añadimos la imagen de carga en el contenedor
            $(".loader").show();
            $(window).on("load", function(){
                $(".loader").fadeOut("slow");
            });
        });              
    });    
</script>
{% endblock %}